{
  "presets": ["es2015", "stage-0"],
  "plugins": ["transform-runtime", "transform-class-properties"],

  "env": {
      "test": {
        "auxiliaryCommentBefore": "istanbul ignore next"
      }
    }
}
